proizvodi.dtd

<!ELEMENT proizvodi (proizvod)+>
<!ELEMENT proizvod(Kategorija,Cena,Tekst,Oznaka+,Akcija+)>
<!ELEMENT Kategorija(#PCDATA)>
<!ELEMENT Cena(#PCDATA)>
<!ELEMENT Tekst(#PCDATA)>
<!ELEMENT Oznaka(#PCDATA)>
<!ELEMENT Akcija (#PCDATA)>

<!ATTLIST Kategorija nazivKategorije (Stolice | Stolovi | Laptopovi | Monitori ) #REQUIRED>
<!ATTLIST Cena valuta (RSD | EUR) "din"  #REQUIRED>
<!ATTLIST Akcija Cena CDATA #REQUIRED>
<!ATTLIST Akcija datum CDATA #REQUIRED>


